@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito:wght@400;700;800&family=Tenor+Sans&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body 
{
    background-color: #ffdf8c;
}
ul,li 
{
    list-style: none;
}
a 
{
    text-decoration: none;
}